
.button{
    -fx-background-color :  #bfcfdd;
    -fx-background-radius: 5em;
    -fx-background-insets: 0px;
    -fx-font-family: "Roboto";
    -fx-text-fill: #ffffff;
}
.button:hover{
    -fx-background-color :  #9eb6cb;
}
.button:pressed{
    -fx-background-color : #7d9db9;
}
.AnchorPane{
    -fx-border-radius: 5em;
}



